
h1 {
  font-family: var(--fonte-titulos);
  font-size: 32px;
  color: var(--cor-fundo-escuro);
  margin-bottom: var(--espaco-pequeno);
  text-align: center;
  margin-top: -40px;
  margin-bottom: 50px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border-radius: var(--borda-arredondada);
  box-shadow: var(--sombra);
  overflow: hidden;
}

.margin {
    margin-top: 300px;
}

th, td {
  padding: 12px 16px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

thead {
  background-color: var(--cor-primaria);
  color: var(--cor-texto-claro);
}

tbody tr:nth-child(even) {
  background-color: #f0f4ff;
}

tbody tr:hover {
  background-color: #e6f0ff;
}

@media (max-width: 768px) {
  table, thead, tbody, th, td, tr {
    display: block;
  }

  thead {
    display: none;
  }

  td {
    position: relative;
    padding-left: 50%;
    border: none;
    border-bottom: 1px solid #ccc;
  }

  td::before {
    position: absolute;
    top: 12px;
    left: 16px;
    width: 45%;
    font-weight: bold;
    white-space: nowrap;
    content: attr(data-label);
  }
}